Repository acertainKnight/project-thoth: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, nbstripout, codespell, sqlfluff-fix, ruff-lint

.pre-commit-config.yaml:

repos:
  # Format first ────────────────────────────────────────────────────────────────
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.10
    hooks:
      - id: ruff-format          # auto-wraps lines to 88 chars

  # Project-local hooks ─────────────────────────────────────────────────────────
  - repo: local
    hooks:
      # Pytest
      - id: pytest
        name: pytest
        entry: pytest # Reverted from bash -c 'pytest || ([ $? -eq 5 ] && exit 0 || exit $?)'
        language: python
        pass_filenames: false
        types: [python]

      # Strip notebook output
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        types: [jupyter]

      # Spell-checking
      - id: codespell
        name: codespell
        entry: codespell
        language: python
        types: [python]
        exclude: |
          (?x)(
            .*\.csv|
            .*\.ipynb        # Jupyter notebooks
          )
        args: [--ignore-words=.codespellignore]

      # SQL lint/auto-fix
      - id: sqlfluff-fix
        name: sqlfluff-fix
        entry: sqlfluff fix --show-lint-violations --processes 0 --disable-progress-bar
        language: python
        types: [sql]

      # Ruff lint (auto-fix) – runs every commit
      - id: ruff-lint
        name: ruff
        entry: ruff check --force-exclude
        language: python
        types: [python]
        args: [--fix]

      # ✔ NEW: Ruff add-noqa – manual only
      # To invoke this hook, run:
      #   pre-commit run --hook-stage manual ruff-add-noqa --all-files
      - id: ruff-add-noqa
        name: ruff (add-noqa)
        entry: ruff check --force-exclude --add-noqa
        language: python
        pass_filenames: false
        stages: [manual]      # won't run unless you call it explicitly

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Use the latest version
    hooks:
      - id: check-added-large-files
        args: [--maxkb=2048]
      # Add other standard hooks here if needed, e.g.:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict

feat(docker): add Docker integration utilities and documentation
  docs/docker-integration.md
  src/thoth/docker/__init__.py
  src/thoth/docker/container_utils.py
  src/thoth/docker/volume_manager.py
Due: pytest, codespell, ruff-lint

feat(monitoring): add comprehensive performance monitoring system
  src/thoth/monitoring/performance_monitor.py
Due: pytest, codespell, ruff-lint

feat(frontend): add advanced settings UI with performance caching and validation
  obsidian-plugin/thoth-obsidian/src/services/conflict-resolver.ts
  obsidian-plugin/thoth-obsidian/src/services/file-watcher.ts
  obsidian-plugin/thoth-obsidian/src/services/offline-sync-queue.ts
  obsidian-plugin/thoth-obsidian/src/services/performance-cache.ts
  obsidian-plugin/thoth-obsidian/src/services/schema-service.ts
  obsidian-plugin/thoth-obsidian/src/services/sync-service.ts
  obsidian-plugin/thoth-obsidian/src/services/vault-detector.ts
  obsidian-plugin/thoth-obsidian/src/ui/command-palette.ts
  obsidian-plugin/thoth-obsidian/src/ui/configuration-wizard.ts
  obsidian-plugin/thoth-obsidian/src/ui/field-components.ts
  obsidian-plugin/thoth-obsidian/src/ui/json-editor.ts
  obsidian-plugin/thoth-obsidian/src/ui/keyboard-shortcuts.ts
  obsidian-plugin/thoth-obsidian/src/ui/search-filter.ts
  obsidian-plugin/thoth-obsidian/src/ui/settings-form.ts
  obsidian-plugin/thoth-obsidian/src/ui/structured-json-view.ts
  obsidian-plugin/thoth-obsidian/src/ui/tabbed-interface.ts
  obsidian-plugin/thoth-obsidian/src/ui/ui-generator.ts
  obsidian-plugin/thoth-obsidian/src/ui/validation-display.ts
  obsidian-plugin/thoth-obsidian/src/ui/view-synchronizer.ts
Due: none

feat(config): finalize enhanced settings service with advanced validation integration
  src/thoth/services/settings_service.py
  src/thoth/utilities/config/schema_generator.py
  src/thoth/utilities/config/validation.py
Due: pytest, codespell, ruff-lint

feat(api): add request retry mechanism and backend health check utility
  obsidian-plugin/thoth-obsidian/src/utils/api.ts
  obsidian-plugin/thoth-obsidian/tsconfig.json
Due: none

chore: remove remaining pytest configuration files
  pytest.ini
Due: none

feat: Implement MCP plugin management system with validation and health monitoring
  .env.docker.thoth
  .gitignore
  Makefile
  README.md
  docker-compose.dev.yml
  docker-compose.yml
  docker/discovery/Dockerfile
  docker/init-pgvector.sh
  docker/mcp/Dockerfile
  docs/deployment.md
  docs/index.md
  docs/quick-reference.md
  docs/setup.md
  pyproject.toml
  src/thoth/config/simplified.py
  src/thoth/ingestion/agent_v2/core/agent.py
  src/thoth/mcp/plugin_manager.py
  src/thoth/mcp/validation.py
  src/thoth/server/routers/health.py
  src/thoth/services/service_manager.py
  src/thoth/utilities/config/services.py
  templates/thoth.settings.json
  tests/test_placeholder.py
  workspace/data/discovery/.gitkeep
  workspace/data/graph/.gitkeep
  workspace/data/markdown/.gitkeep
  workspace/discovery/results/.gitkeep
  workspace/discovery/sources/.gitkeep
  workspace/knowledge/citations/.gitkeep
  workspace/knowledge/relationships/.gitkeep
  workspace/knowledge/topics/.gitkeep
  workspace/notes/.gitkeep
  workspace/pdfs/.gitkeep
  workspace/queries/.gitkeep
  workspace/tmp/.gitkeep
Due: pytest, codespell, ruff-lint

feat: Vault-based architecture with local/hybrid deployment
  .env.vault
  Makefile
  README.md
  docker-compose.dev.yml
  src/thoth/analyze/llm_processor.py
  src/thoth/pipelines/optimized_document_pipeline.py
  src/thoth/server/pdf_monitor.py
  src/thoth/services/processing_service.py
  thoth.settings.json
Due: pytest, codespell, ruff-lint

feat: Vault-based architecture with local/hybrid deployment
  Makefile
  README.md
  docker-compose.dev.yml
  src/thoth/analyze/llm_processor.py
  src/thoth/pipelines/optimized_document_pipeline.py
  src/thoth/server/pdf_monitor.py
  src/thoth/services/processing_service.py
  thoth.settings.json
Due: pytest, codespell, ruff-lint

fix: Complete Letta agent config and eliminate MCP/agent errors
  src/thoth/agents/orchestrator.py
  src/thoth/agents/subagent_factory.py
  src/thoth/analyze/llm_processor.py
  src/thoth/ingestion/agent_v2/core/agent.py
  src/thoth/server/app.py
  src/thoth/server/pdf_monitor.py
  src/thoth/services/citation_service.py
  src/thoth/services/llm_service.py
  src/thoth/utilities/config/base.py
  src/thoth/utilities/config/hybrid_loader.py
Due: pytest, codespell, ruff-lint

fix: Use HTTP MCP connection instead of stdio in research agent
  src/thoth/ingestion/agent_v2/core/agent.py
Due: pytest, codespell, ruff-lint

fix: Update plugin default endpoint to localhost:8000
  obsidian-plugin/thoth-obsidian/src/types/index.ts
Due: none

fix: Hardcode vault settings path and fix local-stop
  Makefile
Due: none

fix: Use correct vault path and add provider to all models
  Makefile
Due: none

fix: Use correct vault path and add provider to all models
  .env.vault
  Makefile
Due: none

fix: Always default to OpenRouter, never extract provider from model name
  src/thoth/analyze/citations/semanticscholar.py
  src/thoth/services/llm_service.py
Due: pytest, codespell, ruff-lint

fix: Use shutil.move instead of path.rename for cross-filesystem compatibility
  Makefile
  src/thoth/services/note_service.py
Due: pytest, codespell, ruff-lint

fix: Rename files in place instead of moving to data directory
  src/thoth/services/note_service.py
Due: pytest, codespell, ruff-lint

fix: Complete configuration system overhaul for vault settings integration
  .gitignore
  docs/config_review.md
  docs/coreconfig_path_review.md
  src/thoth/config/simplified.py
  src/thoth/utilities/config/hybrid_loader.py
  test_vault_config.py
Due: pytest, codespell, ruff-lint

feat: Enhance OptimizedDocumentPipeline with persistent ThreadPoolExecutors and global concurrency control
  Makefile
  src/thoth/analyze/citations/semanticscholar.py
  src/thoth/pipelines/optimized_document_pipeline.py
Due: pytest, codespell, ruff-lint

feat: Add automatic discovery dashboard Docker service
  .env.docker
  .env.docker.example
  .env.prod.example
  docker-compose.yml
  src/thoth/cli/research.py
  src/thoth/services/discovery_dashboard_service.py
  src/thoth/services/obsidian_review_service.py
  src/thoth/utilities/vault_path_resolver.py
Due: pytest, codespell, ruff-lint

chore: Update Docker configuration and project infrastructure
  .env.example
  .gitignore
  Dockerfile
  Dockerfile.dev
  Makefile
  README.md
  docker-compose.dev.yml
  docker-compose.override.yml
  docker-compose.prod.yml
  docker/nginx/dev.conf
  docker/pdf-monitor/Dockerfile
  pyproject.toml
  thoth.settings.example.json
  uv.lock
Due: none

feat: Add PostgreSQL repository layer and migration system
  src/thoth/config.py
  src/thoth/migration/001_add_article_deduplication.sql
  src/thoth/migration/__init__.py
  src/thoth/migration/add_research_questions_schema.py
  src/thoth/migration/migrate.py
  src/thoth/repositories/__init__.py
  src/thoth/repositories/article_repository.py
  src/thoth/repositories/article_research_match_repository.py
  src/thoth/repositories/available_source_repository.py
  src/thoth/repositories/base.py
  src/thoth/repositories/cache_repository.py
  src/thoth/repositories/citation_repository.py
  src/thoth/repositories/discovery_source_repository.py
  src/thoth/repositories/paper_discovery_repository.py
  src/thoth/repositories/paper_repository.py
  src/thoth/repositories/research_question_repository.py
  src/thoth/repositories/tag_repository.py
  src/thoth/services/discovery_orchestrator.py
  src/thoth/services/discovery_scheduler.py
  src/thoth/services/discovery_service_deduplication.py
  src/thoth/services/discovery_service_v2.py
  src/thoth/services/note_regeneration_service.py
  src/thoth/services/path_migration_service.py
  src/thoth/services/postgres_service.py
  src/thoth/services/research_question_service.py
Due: pytest, codespell, sqlfluff-fix, ruff-lint

feat: Add research questions API router and hot reload support
  src/thoth/server/hot_reload.py
  src/thoth/server/routers/research_questions.py
Due: pytest, codespell, ruff-lint
