Repository acertainKnight/project-thoth: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, nbstripout, codespell, sqlfluff-fix, ruff-lint

.pre-commit-config.yaml:

repos:
  # Format first ────────────────────────────────────────────────────────────────
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.11.10
    hooks:
      - id: ruff-format          # auto-wraps lines to 88 chars

  # Project-local hooks ─────────────────────────────────────────────────────────
  - repo: local
    hooks:
      # Pytest
      - id: pytest
        name: pytest
        entry: pytest # Reverted from bash -c 'pytest || ([ $? -eq 5 ] && exit 0 || exit $?)'
        language: python
        pass_filenames: false
        types: [python]

      # Strip notebook output
      - id: nbstripout
        name: nbstripout
        entry: nbstripout
        language: python
        types: [jupyter]

      # Spell-checking
      - id: codespell
        name: codespell
        entry: codespell
        language: python
        types: [python]
        exclude: |
          (?x)(
            .*\.csv|
            .*\.ipynb        # Jupyter notebooks
          )
        args: [--ignore-words=.codespellignore]

      # SQL lint/auto-fix
      - id: sqlfluff-fix
        name: sqlfluff-fix
        entry: sqlfluff fix --show-lint-violations --processes 0 --disable-progress-bar
        language: python
        types: [sql]

      # Ruff lint (auto-fix) – runs every commit
      - id: ruff-lint
        name: ruff
        entry: ruff check --force-exclude
        language: python
        types: [python]
        args: [--fix]

      # ✔ NEW: Ruff add-noqa – manual only
      # To invoke this hook, run:
      #   pre-commit run --hook-stage manual ruff-add-noqa --all-files
      - id: ruff-add-noqa
        name: ruff (add-noqa)
        entry: ruff check --force-exclude --add-noqa
        language: python
        pass_filenames: false
        stages: [manual]      # won't run unless you call it explicitly

  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0  # Use the latest version
    hooks:
      - id: check-added-large-files
        args: [--maxkb=2048]
      # Add other standard hooks here if needed, e.g.:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict

feat: Add Docker and monitoring configurations for Thoth AI Research Assistant
  .dockerignore
  .env.docker.example
  .env.prod.example
  CLAUDE.md
  Dockerfile
  Dockerfile.dev
  Makefile
  README-docker.md
  docker-compose.dev.yml
  docker-compose.override.yml
  docker-compose.prod.yml
  docker-compose.yml
  docker/healthcheck.py
  docker/monitoring/docker-compose.monitoring.yml
  docker/monitoring/prometheus/prometheus.yml
  docker/nginx/nginx.conf
  docker/test-docker-setup.sh
  docker/wait-for-services.sh
  docs/DEPLOYMENT.md
  docs/DOCKER.md
Due: pytest, codespell, ruff-lint

feat: Introduce environment configuration and enhance Makefile for Thoth project
  src/thoth/discovery/discovery_manager.py
  src/thoth/discovery/scheduler.py
  src/thoth/memory/components/retrieval.py
  src/thoth/utilities/config/base.py
Due: pytest, codespell, ruff-lint

feat: Enhance agent initialization and error handling in Thoth project
  src/thoth/cli/agent.py
  src/thoth/ingestion/agent_v2/core/agent.py
  src/thoth/memory/store.py
  tests/agent_v2/test_agent_async_execution.py
Due: pytest, codespell, ruff-lint

feat: Integrate SQLite vector dependency and enhance MCP connection management
  pyproject.toml
  src/thoth/ingestion/agent_v2/core/agent.py
  src/thoth/mcp/connection_manager.py
  src/thoth/mcp/deployment.py
  src/thoth/mcp/langchain_integration.py
  src/thoth/mcp/monitoring.py
  src/thoth/mcp/protocol.py
  src/thoth/mcp/server.py
  src/thoth/mcp/tools/processing_tools.py
  src/thoth/memory/store.py
  src/thoth/server/app.py
  src/thoth/utilities/openrouter.py
  uv.lock
Due: pytest, codespell, ruff-lint

feat: Add in web search with duckduckgo (#41)
  pyproject.toml
  src/thoth/cli/agent.py
  src/thoth/discovery/discovery_manager.py
  src/thoth/discovery/scheduler.py
  src/thoth/ingestion/agent_v2/core/agent.py
  src/thoth/mcp/connection_manager.py
  src/thoth/mcp/deployment.py
  src/thoth/mcp/langchain_integration.py
  src/thoth/mcp/monitoring.py
  src/thoth/mcp/protocol.py
  src/thoth/mcp/server.py
  src/thoth/mcp/tools/processing_tools.py
  src/thoth/memory/components/retrieval.py
  src/thoth/memory/store.py
  src/thoth/server/app.py
  src/thoth/utilities/config/base.py
  src/thoth/utilities/openrouter.py
  tests/agent_v2/test_agent_async_execution.py
  uv.lock
Due: pytest, codespell, ruff-lint

feat: Add Apache License and enhance README for Thoth project
  LICENSE
  README.md
Due: none

Add comprehensive multi-agent framework v2 design document
  planning/multi_agent_framework_v2_plan.md
Due: none

Enhance multi-agent framework with comprehensive AI safety architecture
  planning/multi_agent_framework_v2_plan.md
Due: none

Add multi-agent framework integration with Thoth codebase
  planning/multi_agent_framework_v2_plan.md
Due: none

Add multi-agent framework v3 with service reuse and minimal changes
  planning/multi_agent_framework_v2_plan.md
  planning/multi_agent_framework_v3_minimal.md
Due: none

Refactor multi-agent framework with service composition approach
  planning/multi_agent_framework_v2_plan.md
  planning/multi_agent_framework_v4_balanced.md
Due: none

Add comprehensive multi-agent system implementation plan
  planning/multi_agent_framework_v2_plan.md
  planning/multi_agent_framework_v3_minimal.md
  planning/multi_agent_framework_v4_balanced.md
  planning/thoth_multi_agent_comprehensive_report.md
Due: none

Add multi-agent framework implementation plan document
  planning/multi_agent_implementation_prs.md
Due: none

Add comprehensive MCP external server integration plan and docs
  planning/external_mcp_integration_plan.md
  planning/external_mcp_quick_start.md
  planning/popular_mcp_servers.md
Due: none

Add multi-agent implementation detailed PR engineering guide
  planning/multi_agent_implementation_detailed_prs.md
Due: none

feat: Update .gitignore, enhance README, and improve performance logging
  .gitignore
  README.md
  src/thoth/cli/performance.py
  src/thoth/discovery/discovery_manager.py
  src/thoth/mcp/base_tools.py
  src/thoth/mcp/resources.py
  src/thoth/mcp/tools/advanced_rag_tools.py
  src/thoth/mcp/tools/analysis_tools.py
  src/thoth/mcp/tools/article_tools.py
  src/thoth/mcp/tools/citation_tools.py
  src/thoth/mcp/tools/custom_index_tools.py
  src/thoth/mcp/tools/data_management_tools.py
  src/thoth/mcp/tools/discovery_tools.py
  src/thoth/mcp/tools/download_pdf_tool.py
  src/thoth/mcp/tools/pdf_content_tools.py
  src/thoth/mcp/tools/processing_tools.py
  src/thoth/mcp/tools/query_tools.py
  src/thoth/mcp/tools/tag_tools.py
  src/thoth/mcp/tools/web_search_tool.py
  src/thoth/services/service_manager.py
  src/thoth/utilities/config/base.py
Due: pytest, codespell, ruff-lint

chore: Remove deprecated configuration files and clean up project structure
  .claude/agents/ux-frontend-engineer.md
  .cursor/Dockerfile
  .cursor/environment.json
  .cursorignore
  .cursorrules
  .gitignore
  CLAUDE.md
  CLAUDE.md.backup
  README-docker.md
  planning/code_review_report.md
  planning/discovery_creation_system_plan.md
  planning/duckduckgo_discovery_plan.md
  planning/letta_memory_upgrade_pr_plan.md
  planning/memory_management_plan.md
  planning/multi_agent_commit_plan.md
  planning/multi_agent_framework_plan.md
Due: none

feat: Add new prompts for academic research tasks and enhance environment configuration
  .env.docker
  data/prompts/google/analyze_content.j2
  data/prompts/google/analyze_section.j2
  data/prompts/google/clean_references_section.j2
  data/prompts/google/consolidate_tags.j2
  data/prompts/google/evaluate_article.j2
  data/prompts/google/evaluate_article_query.j2
  data/prompts/google/evaluate_scraped_metadata.j2
  data/prompts/google/extract_citations.j2
  data/prompts/google/extract_citations_single.j2
  data/prompts/google/extract_document_citation.j2
  data/prompts/google/extract_document_metadata.j2
  data/prompts/google/identify_references_section.j2
  data/prompts/google/map_single_tag.j2
  data/prompts/google/reduce_sections.j2
  data/prompts/google/refine_analysis.j2
  data/prompts/google/refine_research_query.j2
  data/prompts/google/research_agent_chat.j2
  data/prompts/google/sandbox_code_file.py.j2
  data/prompts/google/sandbox_code_file_async.py.j2
  data/prompts/google/select_model.j2
  data/prompts/google/suggest_additional_tags.j2
  data/prompts/google/summary_request_text.j2
Due: none

feat: Implement VSCode-style configuration system with comprehensive test coverage
  .env.docker
  .env.example
  .gitignore
  Makefile
  docker-compose.dev.yml
  docker-compose.yml
  src/thoth/mcp/tools/settings_tools.py
  src/thoth/memory/letta_integration.py
  src/thoth/services/settings_service.py
  src/thoth/utilities/config/api_keys.py
  src/thoth/utilities/config/base.py
  src/thoth/utilities/config/hybrid_loader.py
  src/thoth/utilities/config/llm_models.py
  src/thoth/utilities/config/main_config.py
  src/thoth/utilities/config/services.py
  tests/README.md
  tests/__init__.py
  tests/agent_v2/test_agent_async_execution.py
  tests/conftest.py
  tests/integration/test_api_gateway_integration.py
  tests/property_based_test_example.py
  tests/pytest.ini
  tests/run_tests.py
  tests/unit/__init__.py
  tests/unit/test_citation_formatting.py
  tests/unit/test_citation_processor.py
  tests/unit/test_config_system.py
  tests/unit/test_memory_system.py
  tests/unit/test_services_core.py
  thoth.settings.example.json
  thoth.settings.json
  thoth.settings.schema.json
Due: pytest, codespell, ruff-lint

feat: Update Letta configuration and Docker setup
  .env.example
  .gitignore
  Makefile
  docker-compose.override.yml
  docker-compose.yml
  docker/postgres/init-vector.sql
  docs/deployment.md
  docs/index.md
  docs/letta-docker-setup.md
  obsidian-plugin/thoth-obsidian/src/types/index.ts
  src/thoth/analyze/llm_processor.py
  src/thoth/ingestion/agent_v2/core/agent.py
  src/thoth/knowledge/graph.py
  src/thoth/mcp/transports.py
  src/thoth/memory/letta_integration.py
  src/thoth/monitoring/health.py
  src/thoth/server/routers/health.py
  src/thoth/utilities/config/base.py
  src/thoth/utilities/config/hybrid_loader.py
  tests/unit/test_config_system.py
Due: pytest, codespell, sqlfluff-fix, ruff-lint

feat: enhanced config endpoints with schema-driven UI metadata and real-time validation
  .gitignore
  src/thoth/server/routers/config.py
  src/thoth/services/settings_service.py
  src/thoth/utilities/config/hybrid_loader.py
  src/thoth/utilities/config/schema_generator.py
  src/thoth/utilities/config/validation.py
  tests/services/test_settings_service_enhanced.py
Due: pytest, codespell, ruff-lint

Refactor validation module to enhance error reporting and structure
  src/thoth/server/routers/config.py
  src/thoth/utilities/config/schema_generator.py
  src/thoth/utilities/config/validation.py
  tests/server/test_config_routes_enhanced.py
  tests/utilities/__init__.py
  tests/utilities/config/__init__.py
  tests/utilities/config/test_schema_generator.py
  tests/utilities/config/test_validation.py
Due: pytest, codespell, ruff-lint

feat(config): enhance validation system with auto-fix and advanced organization
  src/thoth/services/settings_service.py
  src/thoth/utilities/config/schema_generator.py
  src/thoth/utilities/config/validation.py
Due: pytest, codespell, ruff-lint
