Repository acertainKnight/project-thoth: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, nbstripout, codespell, sqlfluff-fix, ruff-lint

pytest:
  name: pytest
  entry: pytest
  language: python
  pass_filenames: false

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

codespell:
  name: codespell
  entry: codespell
  language: python
  args:
  - --ignore-words=.codespellignore

sqlfluff-fix:
  name: sqlfluff-fix
  entry: sqlfluff fix --show-lint-violations --processes 0 --disable-progress-bar
  language: python

ruff-lint:
  name: ruff
  entry: ruff check --force-exclude
  language: python
  args:
  - --fix

feat: Add research questions API router and hot reload support
  src/thoth/server/hot_reload.py
  src/thoth/server/routers/research_questions.py
Due: pytest, codespell, ruff-lint

test: Add comprehensive test infrastructure
  tests/README.md
  tests/__init__.py
  tests/conftest.py
  tests/discovery/__init__.py
  tests/discovery/test_scheduler.py
  tests/e2e/test_obsidian_review_e2e.py
  tests/fixtures/__init__.py
  tests/fixtures/sample_citation_graph.json
  tests/fixtures/sample_embeddings.json
  tests/fixtures/sample_processed_pdfs.json
  tests/integration/QUICK_START.md
  tests/integration/README_RESEARCH_QUESTIONS_API.md
  tests/integration/TEST_STRUCTURE.txt
  tests/integration/__init__.py
  tests/integration/test_obsidian_review_workflow.py
  tests/integration/test_research_questions_api.py
  tests/integration/test_sentiment_endpoint.py
  tests/repositories/__init__.py
  tests/repositories/test_paper_repository.py
  tests/services/__init__.py
  tests/services/test_discovery_deduplication.py
  tests/services/test_obsidian_review_service.py
  tests/services/tests/services/test_discovery_orchestrator.py
  tests/services/tests/services/test_research_question_service.py
  tests/test_placeholder.py
Due: pytest, codespell, ruff-lint

fix: Update dashboard SQL queries for correct table and column names
  src/thoth/services/discovery_dashboard_service.py
Due: pytest, codespell, ruff-lint

feat: Add dashboard markdown parser with automatic PDF downloads on like
  src/thoth/discovery/discovery_manager.py
  src/thoth/services/discovery_dashboard_service.py
  src/thoth/services/obsidian_review_service.py
Due: pytest, codespell, ruff-lint

feat: Optimize Docker dependencies with service-specific extras
  Dockerfile
  docker-compose.yml
  docker/agent/Dockerfile
  docker/api/Dockerfile
  docker/discovery/Dockerfile
  docker/letta/init-schema.sh
  docker/mcp/Dockerfile
  docker/pdf-monitor/Dockerfile
  docs/DEPENDENCY_MAPPING.md
  docs/letta-remote-ade-setup.md
  pyproject.toml
  src/thoth/discovery/discovery_manager.py
  uv.lock
Due: pytest, codespell, ruff-lint

fix: Correct Docker dependency optimization - remove unnecessary embeddings
  pyproject.toml
  uv.lock
Due: none

fix: Write OCR markdown to disk for downstream pipeline processing
  pyproject.toml
  src/thoth/server/app.py
  src/thoth/services/processing_service.py
  src/thoth/services/service_manager.py
  uv.lock
Due: pytest, codespell, ruff-lint

fix: Dashboard persistence, filtering, and auto-regeneration
  src/thoth/services/discovery_dashboard_service.py
Due: pytest, codespell, ruff-lint

fix: Prevent file watcher from processing auto-export writes
  src/thoth/services/discovery_dashboard_service.py
Due: pytest, codespell, ruff-lint

fix: Remove mtime check that was blocking file watcher
  src/thoth/services/discovery_dashboard_service.py
Due: pytest, codespell, ruff-lint

refactor: Separate MCP tools from agent management, migrate to Letta
  docs/api/mcp-refactoring-guide.md
  pyproject.toml
  src/thoth/_archived/README.md
  src/thoth/_archived/agent_v2/__init__.py
  src/thoth/_archived/agent_v2/core/agent.py
  src/thoth/_archived/agent_v2/core/state.py
  src/thoth/_archived/agent_v2/core/token_tracker.py
  src/thoth/_archived/agent_v2/server.py
  src/thoth/_archived/agents/__init__.py
  src/thoth/_archived/agents/orchestrator.py
  src/thoth/_archived/agents/schemas.py
  src/thoth/_archived/agents/smart_workflows.py
  src/thoth/_archived/agents/subagent_factory.py
  src/thoth/_archived/memory/__init__.py
  src/thoth/_archived/memory/checkpointer.py
  src/thoth/_archived/memory/components/__init__.py
  src/thoth/_archived/memory/components/enrichment.py
  src/thoth/_archived/memory/components/filtering.py
  src/thoth/_archived/memory/components/retrieval.py
  src/thoth/_archived/memory/components/scoring.py
  src/thoth/_archived/memory/letta_integration.py
  src/thoth/_archived/memory/pipelines.py
  src/thoth/_archived/memory/scheduler.py
  src/thoth/_archived/memory/store.py
  src/thoth/_archived/memory/summarization.py
  src/thoth/mcp/server.py
  src/thoth/server/routers/agent.py
Due: pytest, codespell, ruff-lint

feat: Add multi-agent coordination system via message queue
  docs/AGENT_COORDINATION.md
  examples/research_workflow_with_coordination.py
  scripts/create_message_queue.py
  scripts/shared_memory_blocks.json
  src/thoth/coordination/__init__.py
  src/thoth/coordination/message_queue.py
  tests/test_message_queue.py
Due: pytest, codespell, ruff-lint

feat: Enable native Letta agent-to-agent communication
  docs/LETTA_NATIVE_COMMUNICATION.md
  docs/letta-multi-agent-research.md
  scripts/multi_agent_tool_ids.json
  scripts/test_multi_agent_setup.py
Due: pytest, codespell, ruff-lint

docs: Add optimized multi-agent architecture specification
  docs/MULTI_AGENT_ARCHITECTURE.md
Due: none

feat: Replace ChromaDB with PostgreSQL + pgvector for 100% database-only architecture
  docker/mcp/Dockerfile
  docker/pdf-monitor/Dockerfile
  src/thoth/knowledge/graph.py
  src/thoth/rag/vector_store.py
Due: pytest, codespell, ruff-lint

fix: Make watchdog import optional for MCP service
  src/thoth/server/app.py
Due: pytest, codespell, ruff-lint

fix: Make watchdog import optional in hot_reload.py
  src/thoth/server/hot_reload.py
Due: pytest, codespell, ruff-lint

fix: Add api extra to service-mcp for asyncpg dependency
  pyproject.toml
Due: none

chore: Update uv.lock for service-mcp with api extra
  uv.lock
Due: none

fix: Make watchdog import optional in pdf_monitor.py
  src/thoth/server/pdf_monitor.py
Due: pytest, codespell, ruff-lint

fix: Add pdf extra to service-mcp for pypdf dependency
  pyproject.toml
  uv.lock
Due: none

fix: Make agent_v2 import optional for deprecated CLI command
  src/thoth/cli/agent.py
Due: pytest, codespell, ruff-lint

fix: Make thoth.memory import optional for deprecated CLI commands
  src/thoth/cli/memory.py
Due: pytest, codespell, ruff-lint

refactor: Remove deprecated legacy code (agent_v2, memory module, broken MCP tools)
  Makefile
  docker-compose.yml
  docker/letta/init-schema.sh
  docker/nginx/dev.conf
  docker/nginx/letta-sse.conf
  docs/ARCHITECTURE_COMPARISON.md
  docs/EXTENSIBILITY_GUIDE.md
  docs/IOS_SHORTCUT_GUIDE.md
  docs/ISSUES_FIXED.md
  docs/MULTI_AGENT_ARCHITECTURE.md
  docs/MULTI_AGENT_COMMUNICATION.md
  docs/SYSTEM_ARCHITECTURE_EXPLAINED.md
  docs/reset.html
  pyproject.toml
  scripts/add_agent_communication_tools.py
  scripts/communication_tool_ids.json
  scripts/create_new_agents.py
  scripts/enable_multi_agent_tools.py
  scripts/fix_agent_tools.py
  scripts/fix_default_agent.sh
  scripts/implement_specialized_architecture.py
  scripts/optimize_agent_tools.py
  scripts/register_multi_agent_tools.py
  scripts/setup_orchestrator_registry.py
  scripts/test_all_mcp_tools.py
  scripts/test_mcp_tools_via_letta.py
  scripts/update_orchestrator_for_sync.py
  src/thoth/cli/agent.py
  src/thoth/cli/memory.py
  src/thoth/config.py
  src/thoth/ingestion/__init__.py
  src/thoth/mcp/tools/__init__.py
  src/thoth/mcp/tools/memory_tools.py
  src/thoth/server/pdf_monitor.py
Due: pytest, codespell, ruff-lint

fix: Regenerate uv.lock after removing service-agent
  uv.lock
Due: none

fix: Remove agent and memory CLI imports from main.py
  src/thoth/cli/main.py
Due: pytest, codespell, ruff-lint

refactor: Remove deprecated ChromaDB service
  docker-compose.override.yml
  docker-compose.yml
Due: none

fix: Nginx health check using 127.0.0.1 instead of localhost
  docker-compose.yml
Due: none

feat(database): Add browser discovery workflow tables
  src/thoth/migration/002_add_browser_discovery_workflows.sql
Due: sqlfluff-fix

feat(schemas): Add Pydantic models for browser workflows
  src/thoth/utilities/schemas/__init__.py
  src/thoth/utilities/schemas/browser_workflow.py
Due: pytest, codespell, ruff-lint

feat(repositories): Add repository classes for browser workflows
  src/thoth/repositories/__init__.py
  src/thoth/repositories/browser_workflow_repository.py
  src/thoth/repositories/workflow_actions_repository.py
  src/thoth/repositories/workflow_executions_repository.py
  src/thoth/repositories/workflow_search_config_repository.py
Due: pytest, codespell, ruff-lint

feat(browser): Add Playwright integration and BrowserManager
  pyproject.toml
  src/thoth/discovery/browser/__init__.py
  src/thoth/discovery/browser/browser_manager.py
Due: pytest, codespell, ruff-lint

test: Add comprehensive unit tests for browser workflows
  tests/repositories/README_WORKFLOW_TESTS.md
  tests/repositories/test_browser_workflow_repository.py
  tests/repositories/test_workflow_actions_repository.py
  tests/repositories/test_workflow_executions_repository.py
  tests/repositories/test_workflow_search_config_repository.py
  tests/test_browser_manager.py
Due: pytest, codespell, ruff-lint

docs: Add setup guides and examples for browser workflows
  README.md
  docs/BROWSER_MANAGER_SETUP.md
  docs/examples/browser_manager_example.py
Due: pytest, codespell, ruff-lint

chore: Remove obsolete documentation files
  docs/ISSUES_FIXED.md
  docs/SYSTEM_ARCHITECTURE_EXPLAINED.md
  docs/reset.html
Due: none

fix: Resolve schema mismatch and achieve 100% test pass rate
  docs/BROWSER_WORKFLOW_REPOSITORY_FIX.md
  docs/TEST_FIXES_APPLIED.md
  src/thoth/repositories/browser_workflow_repository.py
  tests/repositories/test_browser_workflow_repository.py
  tests/repositories/test_workflow_actions_repository.py
  tests/repositories/test_workflow_executions_repository.py
  tests/repositories/test_workflow_search_config_repository.py
  tests/test_browser_manager.py
  uv.lock
Due: pytest, codespell, ruff-lint

Path conditions:
  pytest: any of: \.py$
  nbstripout: any of: \.ipynb$
  codespell: any of: \.py$, but not: (?x)(
  .*\.csv|
  .*\.ipynb        # Jupyter notebooks
)

  sqlfluff-fix: any of: \.sql$
  ruff-lint: any of: \.py$
