Repository acertainKnight/project-thoth: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, nbstripout, codespell, sqlfluff-fix, ruff-lint

pytest:
  name: pytest
  entry: pytest
  language: python
  pass_filenames: false

nbstripout:
  name: nbstripout
  entry: nbstripout
  language: python

codespell:
  name: codespell
  entry: codespell
  language: python
  args:
  - --ignore-words=.codespellignore

sqlfluff-fix:
  name: sqlfluff-fix
  entry: sqlfluff fix --show-lint-violations --processes 0 --disable-progress-bar
  language: python

ruff-lint:
  name: ruff
  entry: ruff check --force-exclude
  language: python
  args:
  - --fix

feat(phase8c): API response consolidation - all dict returns → Pydantic models
  src/thoth/server/routers/browser_workflows.py
  src/thoth/server/routers/chat.py
  src/thoth/server/routers/operations.py
  src/thoth/server/routers/tools.py
  tests/unit/server/routers/test_tools_router.py
Due: pytest, codespell, ruff-lint

fix: Resolve 13 critical bugs in PDF processing pipeline
  src/thoth/analyze/citations/arxiv_resolver.py
  src/thoth/analyze/citations/async_enhancer.py
  src/thoth/analyze/citations/batch_processor.py
  src/thoth/analyze/citations/citations.py
  src/thoth/analyze/citations/enhancer.py
  src/thoth/analyze/citations/openalex_resolver.py
  src/thoth/server/pdf_monitor.py
  src/thoth/services/processing_service.py
Due: pytest, codespell, ruff-lint

fix: Add 5-minute timeout to citation extraction to prevent infinite hangs
  src/thoth/analyze/citations/citations.py
Due: pytest, codespell, ruff-lint

feat: Add customizable analysis schema system
  scripts/migrations/003_add_analysis_schema_columns.sql
  src/thoth/analyze/llm_processor.py
  src/thoth/config.py
  src/thoth/knowledge/graph.py
  src/thoth/pipelines/optimized_document_pipeline.py
  src/thoth/services/analysis_schema_service.py
  src/thoth/services/processing_service.py
  templates/analysis_schema.json
  templates/prompts/default/analyze_content.j2
  templates/prompts/default/analyze_section.j2
Due: pytest, codespell, sqlfluff-fix, ruff-lint

feat: Add flexible note template and comprehensive tests
  src/thoth/services/analysis_schema_service.py
  templates/obsidian_note.md
  tests/integration/test_custom_analysis_schema.py
  tests/unit/services/test_analysis_schema_service.py
Due: pytest, codespell, ruff-lint

docs: Add comprehensive user documentation for customizable schemas
  docs/customizable-analysis-schemas.md
Due: none

feat: Add MCP tools for schema management
  src/thoth/mcp/tools/schema_tools.py
Due: pytest, codespell, ruff-lint

fix: Register schema tools in MCP tool registry
  src/thoth/mcp/tools/__init__.py
Due: pytest, codespell, ruff-lint

feat: Add REST API endpoints for schema management
  src/thoth/server/routers/schema.py
Due: pytest, codespell, ruff-lint

feat: Add CLI commands for schema management
  src/thoth/cli/schema.py
  src/thoth/server/app.py
Due: pytest, codespell, ruff-lint

fix: Register schema CLI module in main CLI
  src/thoth/cli/main.py
Due: pytest, codespell, ruff-lint

feat: Add full hot-reload support for analysis schema file
  src/thoth/server/app.py
Due: pytest, codespell, ruff-lint

feat: Add hot-reload support for custom prompt files
  src/thoth/server/app.py
Due: pytest, codespell, ruff-lint

chore(docker): Remove ChromaDB completely - use PostgreSQL+pgvector
  Makefile
  docker-compose.dev.yml
  docker-compose.yml
  src/thoth/server/app.py
Due: pytest, codespell, ruff-lint

feat(docker): Add Supervisor configuration for unified container
  docker/all-in-one/entrypoint.sh
  docker/supervisor/supervisord.conf
Due: none

feat(docker): Create unified all-in-one Dockerfile
  docker/all-in-one/Dockerfile
  pyproject.toml
Due: none

feat(docker): Implement local/microservices deployment modes
  docker-compose.dev.yml
  docker-compose.yml
Due: none

feat(makefile): Update targets for local/microservices modes
  Makefile
Due: none

docs(testing): Add comprehensive Docker modes testing checklist
  docs/TESTING_DOCKER_MODES.md
Due: none

docs: Add comprehensive Docker deployment and migration guides
  README.md
  docs/DOCKER_DEPLOYMENT.md
  docs/MIGRATION_CHROMADB.md
Due: none

fix(docker): Update uv.lock for service-all extras
  uv.lock
Due: none

test(docker): Verify unified container builds successfully
  .claude/settings.local.json
  scripts/letta-restart.sh
  scripts/letta-start.sh
  scripts/letta-status.sh
  scripts/letta-stop.sh
Due: none

feat: Implement independent service management for Letta and Thoth
  Makefile
  docker-compose.letta.yml
  docker-compose.yml
  docs/ARCHITECTURE.md
  docs/LETTA_VOLUMES.md
  scripts/letta-start.sh
  scripts/letta-stop.sh
  scripts/thoth-restart.sh
  scripts/thoth-start.sh
  scripts/thoth-status.sh
  scripts/thoth-stop.sh
Due: none

feat(mcp): Add research question MCP tools
  src/thoth/mcp/tools/__init__.py
  src/thoth/mcp/tools/research_question_tools.py
Due: pytest, codespell, ruff-lint

feat(skills): Implement two-tier skill system with hot-reload
  src/thoth/.skills/research-question-creation/SKILL.md
  src/thoth/services/service_manager.py
  src/thoth/services/skill_service.py
Due: pytest, codespell, ruff-lint

refactor(mcp): Remove deprecated discovery source tools
  src/thoth/mcp/tools/__init__.py
  src/thoth/mcp/tools/discovery_tools.py
Due: pytest, codespell, ruff-lint

test(mcp): Add comprehensive unit tests for research question tools and skill service
  tests/unit/mcp/tools/test_research_question_tools.py
  tests/unit/services/test_skill_service.py
Due: pytest, codespell, ruff-lint

feat(services): Add LettaFilesystemService for vault-to-Letta sync
  src/thoth/services/letta_filesystem_service.py
Due: pytest, codespell, ruff-lint

feat(cli): Add 'thoth letta' commands for filesystem sync
  src/thoth/cli/letta.py
Due: pytest, codespell, ruff-lint

feat(services): Register LettaFilesystemService in ServiceManager
  src/thoth/services/service_manager.py
Due: pytest, codespell, ruff-lint

feat(config): Add Letta filesystem configuration to settings
  src/thoth/cli/main.py
  thoth.settings.json
Due: pytest, codespell, ruff-lint

feat(mcp): Add 8 comprehensive research/QA MCP tools
  src/thoth/mcp/tools/__init__.py
  src/thoth/mcp/tools/research_qa_tools.py
Due: pytest, codespell, ruff-lint

fix(services): Make LettaFilesystemService optional with proper dependency check
  src/thoth/services/service_manager.py
Due: pytest, codespell, ruff-lint

Path conditions:
  pytest: any of: \.py$
  nbstripout: any of: \.ipynb$
  codespell: any of: \.py$, but not: (?x)(
  .*\.csv|
  .*\.ipynb        # Jupyter notebooks
)

  sqlfluff-fix: any of: \.sql$
  ruff-lint: any of: \.py$
